* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1d273b;
    font-weight: 300;
}

.contenedor {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.contenedor1 {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 1000px;
}

h1 {
    font-size: 50px;
}

/* Header */
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

nav {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

nav h2 {
    font-weight: bold;
    font-size: 50px;
    border: solid 2px black;
    padding: 5px;
    
}

nav h2 a{
    text-decoration: none;
    color: #292b2c;
}

nav h2 a:hover{
    color: #292b2c;
    text-decoration: none;
}

.nav .logo img {
    height: 100%;
    vertical-align: top;
}

.enlaces-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
} 

.nav .enlaces-header a {
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
}

.hamburguer {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburguer>i {
    font-size: 25px;
    line-height: 80px;
}

.hero{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(https://i.pinimg.com/originals/eb/fd/ee/ebfdeebe4927cab3f704c8d408488370.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.contenido-header {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content:flex-end;
}

@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.textos-header {
    padding: 0 50px 0 0;
    color: white;
    text-align: right;
    align-self: center;
    margin: 0 0 0 auto;
}

.textos-header h1{
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.contenido-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1f92de;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
}

.titulo {
    font-size: 50px;
    text-align: center;
    margin: auto;
}

/* Productos */

.productosLista {
    background: #f2f2f2;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
    
}

.articulo {
    width: 39%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
    text-align: center;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i {
    font-size: 30px;
    color: #fff;
    background: #1FDE82;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p {
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover {
    color: #1FDE82;
    transition: color .5s;
}

.carritoBotones{
    width: 50%;
    margin-bottom: 15px;
    text-align: center;
}

/* Sobre nosotros */


.questions {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.questions>img {
    width: 550px;
    margin: auto;
}

.textos-questions {
    margin: auto;
    text-align: center;
}

.textos-questions p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}

.results {
    background: #2570ff;
    padding-top: 30px;
}

.conten-results {
    display: flex;
    justify-content: space-evenly;
}

.numbers {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.numbers .number {
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.numbers .number h4 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p {
    color: #f2f5fc;
    font-weight: 300;
}

.results-text {
    width: 37%;
    margin: 0 auto;
}

.results-text h4 {
    color: #fff;
    font-size: 40px;
}

.results-text p {
    color: #fff;
    font-weight: 300;
    
}

.results-text>a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

/* footer */

footer {
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    width: 20%;
    text-align: center;
    flex-direction: row;
    margin: auto;
}

.partFooter h4 {
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}


.partFooter a:hover {
    color: #1FDE82;
}

.partFooter img {
    width: 70%;
}

.social-media ul{
    list-style: none;
	margin: 0;
	padding: 0;
}

.social-media li{
    display: inline-block;
}

.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover {
    color: #fff;
    background-color: #1FDE82;
    border-color: #1FDE82;
}

.copy{
    font-size: 15px;
}

/* Breakpoints responsive */

@media screen and (max-width:800px) {
    nav h2{
        font-size: 30px;
    }

    .titulo {
        font-size: 30px;
    }

    .contenido-header {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contenido-header>img {
        width: 400px;
    }


    .articulo {
        width: 60%;
        height: 60%;
    }


    .questions {
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .questions>img {
        width: 400px;
    }


    .conten-results {
        flex-direction: column-reverse;
    }

    .results-text>a {
        margin-bottom: 60px;
    }

    .numbers {
        width: 100%;
    }

    .results-text {
        width: 100%;
        padding-left: 12px;
    }

    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:600px) {
    .titulo {
        font-size: 35px;
    }

    h1 {
        font-size: 40px;
    }

    .contenido-header {
        height: 650px;
    }

    .nav {
        padding: 0 10px;
    }

    .contenido-header>img {
        width: 200px;
    }

    .enlaces-header {
        position: fixed;
        background: #667db6;
        background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos {
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
    }

    .nav .enlaces-header a {
        color: #fff;
    }

    .hamburguer {
        display: block;
    }

    .articulo {
        width: 95%;
    }

    .questions>img {
        width: 200px;
    }

    .numbers .number {
        width: 95%;
    }

    .results-text h4 {
        font-size: 35px;
    }

    .services>img {
        width: 200px;
    }

    .box-skills h4 {
        width: 100%;
    }

    .partFooter {
        width: 95%;
        margin-bottom: 40px;
    }
}

.show-cart li {
    display: flex;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    
    width: 220px;
    height: 200px;
    align-self: center;
}

@media screen and (max-width:801px) {
    .card-img-top {
        width: 100%;
        height: 80%;
        align-self: center;
    }
}
@media screen and (max-width:987px) and (min-width:802px) {
    .card-img-top {
        width: 180px;
        height: 160px;
        align-self: center;
    }
}

/* Formulario */

.contact{
    width: 100%;
    background: #f9f5f5;
    padding-top: 99px;
    padding-bottom: 97px;
}

.review_form_container{
	width: 100%;
}

.review_form_title{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #232323;
	text-transform: uppercase;
	line-height: 0.75;
	text-align: center;
}

.review_form_content{
	margin-top: 99px;
	text-align: center;
}

.review_form{
	width: 100%;
}

.review_form div{
	width: 100%;
}

.review_form_input{
	display: block;
	width: calc((100% - 60px) / 3);
	height: 53px;
	border: solid 1px #b5b5b5;
	outline: none;
	padding-left: 22px;
}

.review_form_text{
	width: 100%;
	height: 53px;
	border: solid 1px #b5b5b5;
	outline: none;
	padding-left: 22px;
	margin-top: 27px;
	height: 234px;
	padding-top: 20px;
}

.review_form_input::-webkit-input-placeholder,
.review_form_text{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}

.review_form_input:-moz-placeholder,
.review_form_text{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}

.review_form_input::-moz-placeholder,
.review_form_text{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
} 

.review_form_input:-ms-input-placeholder,
.review_form_text{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}

.review_form_input::input-placeholder,
.review_form_text{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}

.review_form_button{
	width: 179px;
	height: 46px;
	border: none;
	outline: none;
	background: #937c6f;
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	cursor: pointer;
	margin-top: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.review_form_button:hover{
	background: #e0e3e4;
	color: #232323;
}

@media only screen and (max-width: 767px)
{
	.review_form_input{
		width: 100%;
		margin-bottom: 8px;
    }
    
	.review_form_text{
		margin-top: 0;
    }
    
    
}

@media only screen and (max-width: 575px)
{
    .review_form_title,
	.review_form_content{
		text-align: left;
    }
}

@media only screen and (max-width: 748px)
{
    nav h2{
        font-size: 30px;
    }
}

@media only screen and (max-width: 635px)
{
    nav h2{
        font-size: 23px;
    }
}

@media only screen and (max-width: 600px)
{
    nav h2{
        font-size: 25px;
    }
}

.botonProducto {
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:35px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
}

.botonProducto:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}

.botonProducto:active {
	position:relative;
	top:1px;
}

.botonCarrito {
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:35px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
}

.botonCarrito:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}

.botonCarrito:active {
	position:relative;
	top:1px;
}

.botonVaciar {
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:35px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
}

.botonVaciar:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}

.botonVaciar:active {
	position:relative;
	top:1px;
}

.botonCerrar {
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:35px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
}

.botonCerrar:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.botonCerrar:active {
	position:relative;
	top:1px;
}

.delete-item {
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:35px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
}

.delete-item:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}

.delete-item:active {
	position:relative;
	top:1px;
}

.minus-item, .plus-item {
	background:linear-gradient(to bottom, #f9f9f9 5%, #bdbdbd 100%);
	background-color:#f9f9f9;
	border-radius:35px;
	border:1px solid #ccc4cc;
	display:inline-block;
	cursor:pointer;
	color:#3d3d3d;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
}
.minus-item:hover, .plus-item:hover {
	background:linear-gradient(to bottom, #bdbdbd 5%, #f9f9f9 100%);
	background-color:#bdbdbd;
}
.minus-item:active, .plus-item:active {
	position:relative;
	top:1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media only screen and (min-width: 991px){
    .product-display{
        margin: auto;
        width: 40%;
        text-align: center;
    }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}